.container {
    display: flex;
    outline: 1px solid blue;
}

.item {
    width: 200px;
    height: 200px;
    background-color: sandybrown;
    border: 1px solid black;
    flex-grow: 1;
}

.container800 {
    width: 800px;
    display: flex;
    outline: 1px solid blue;
}
.item100 {
    flex-basis: 100px;
    background-color: lightcyan;
    height: 100px;
    outline: 1px solid black;
}
